body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}


header{

background:#020617;
padding:20px;
display:flex;
justify-content:space-between;
border-bottom:3px solid orange;

}


h1{

color:#f59e0b;

}


main{

padding:20px;

}



.stats{

display:grid;
grid-template-columns:1fr 1fr;
gap:15px;

}



.card,
.panel{

background:#1e293b;
padding:20px;
border-radius:12px;
margin-bottom:20px;

}



.card h3{

color:#94a3b8;

}



button{

width:100%;
padding:15px;
margin:8px 0;

background:#f59e0b;
border:0;
border-radius:8px;

font-size:18px;
font-weight:bold;

}


.job-card{

background:#334155;
padding:15px;
margin:10px 0;
border-radius:10px;

}


@media(max-width:600px){

.stats{

grid-template-columns:1fr;

}

}
